<ion-header class="ion-no-border">
  <ion-toolbar>
    @if (enabledSelectorCategoriesFilter) {
      <select-filter
        [items]="categoriesChips()"
        [defaultValue]="defaultCategory"
        (selectedItemEmiter)="onCategoriesFiltered($event)"
        label="Categoría"
      >
      </select-filter>
    } @else {
      <chip-filter
        [chips]="categoriesChips()"
        [defaultValue]="defaultCategory"
        (selectedChipsEmiter)="onCategoriesFiltered($event)"
      >
      </chip-filter>
    }
    @if(todos().length > 0) {
      <todos-info
        [completed]="completed()"
        [pendings]="pendings()"
      ></todos-info>
    }
  </ion-toolbar>
</ion-header>
<ion-content #mainContent class="ion-padding-start ion-padding-end ion-padding-bottom todos-page_container">

  @if(!isLoading()) {
    <todo-list [todos]="todos()" [categories]="categories()"></todo-list>
    <ion-infinite-scroll (ionInfinite)="onInfiniteScroll($event)" [disabled]="!isAvailableLoadTodos">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
      <ion-fab-button (click)="setModalOpen(true)">
        <ion-icon name="add">
        </ion-icon>
      </ion-fab-button>
    </ion-fab>
  }
  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Crear tarea</ion-title>
          <ion-buttons slot="end">
            <ion-button color="dark" (click)="setModalOpen(false)">
              <ion-icon name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <todo-form
          [categories]="categories()"
          (submitEmitter)="onCreateTodo($event)"
        ></todo-form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>